@{

}

@model BooksViewModel
<!--StyleSheet-->
<link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />

<h1>Book List</h1>

<!--Function to display the "Books" information passed in through the model-->
@foreach (Book b in Model.Books)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                @b.Title
            </h4>
        </div>
    </div>

<ul>
    <li>Author: @b.Author</li>
    <li>Publisher: @b.Publisher</li>
    <li>ISBN: @b.Isbn</li>
    <li>Classification: @b.Classification</li>
    <li>Category: @b.Category</li>
    <li>Page Count: @b.PageCount</li>
    <li>Price: @b.Price</li>
</ul>

<br />
}


<!--Uses the tag helpers made in the PaginationTagHelper file to dynamically create and style the buttons for the website-->
<div page-model="@Model.PageInfo" page-action="Index" page-class-enables="true" 
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

